table,
th,
td {
    border: 1px solid !important;
    border: 3px solid #ffffff !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

th {
    background-color: #003c7a;
}
/* table{
    width: 100%;
} */
tbody {
    background-color: rgba(255, 233, 208, 0.2) !important;
}

tr, th{
    font-size: 1.2rem;
    font-weight: 500;

    /* white-space: nowrap;  */
}
tr, td{
    font-size: 1rem;
    font-weight: 500;
    vertical-align: middle;
    /* word-wrap: break-word;  */
}
/* .fm-content{
    width: auto;

} */
.fm-btn-y{
    padding: 10px 15px;
}
.tableFixHead {
    overflow-y: auto;
    height: 640px;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  .tableFixHead::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }
  .tableFixHead thead th {
    position: sticky;
    top: -1%;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }



