table,
th,
td {
    border: 1px solid;
    border: 3px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

th {
    background-color: #003c7a;
}

tbody {
    background-color: rgba(255, 233, 208, 0.2);
}

tr, th{
    font-size: 1.2rem;
    vertical-align: middle;
    font-weight: 500;
}
tr, td{
    font-size: 1rem;
    vertical-align: middle;
    font-weight: 500;
}
.table td, .table th{
    padding: 0;
}
.table td{
    padding: 0.5rem;
}