<app-header></app-header>
<loading *ngIf="isLoading">{{ isLoading }}</loading>
<main class="container-fluid">
  <div class="mx-auto">
    <!-- image background and intro -->
    <div class="intro">
      <img
        src="/assets/images/homepage/hotay1.jpg"
        alt="Random second slide"
        class="img-intro"
      />
      <!-- <section class="video-container">
        <video autoplay loop playsinline muted controls>
          <source src="./assets/images/homepage/hotay13.mp4" type="video/mp4" />
        </video>
      </section> -->
      <div class="intro-content text-white">
        <p class="main-title text-white fs-1 hvr-wobble-to-top-right">
          KHÁCH SẠN BÊN HỒ TÂY
        </p>
        <p class="my-3 text-white text-home hvr-wobble-to-top-right">
          Toạ lạc tại trục đường Trích Sài thuộc quận Tây Hồ, Hà Nội, KHÁCH SẠN
          WESTLAKE là sự kết nối và tổng hoà giữa khu phố Hồ Tây giàu truyền
          thống và khu đô thị mới đang ngày một phát triển với tương lai tươi
          sáng.
        </p>
      </div>
    </div>
    <!-- img slide -->

    <!-- main -->
    <div class="my-5">
      <!-- img-box1 -->
      <div class="container mx-auto">
        <div class="row mb-5">
          <div class="col-lg me-5 my-auto hvr-grow">
            <h4 class="mb-3 title">TẬN HƯỞNG TRẢI NGHIỆM NGHỈ DƯỠNG ĐA CẤP</h4>
            <p class="text-title my-4">
              Tất cả 16 phòng nghỉ của khách sạn có hướng nhìn bao quát Hồ Tây
              và Sông Hồng. Khám phá nét đặc sắc của ẩm thực địa phương hay
              những nét mới lạ của ẩm thực đương đại tại một trong 4 nhà hàng
              của khách sạn. Khi du khách cần nghỉ ngơi yên tĩnh, hãy thư giãn
              tại phòng tập, spa hay bể bơi ngoài trời của chúng tôi.
            </p>
            <p class="text-title">
              Không chỉ là khách sạn 3 sao gần sân bay nhất, du khách còn có thể
              dễ dàng di chuyển từ đây tới khu phố cổ Hà Nội, các địa điểm tham
              quan nổi tiếng nhộn nhịp chỉ trong vài phút.
            </p>
          </div>
          <div class="effect10 col-lg rs-ipad mobile-center">
            <img
              src="/assets/images/homepage/hotay222.jpg"
              alt=""
              class="img-box"
            />
            <a>TẬN HƯỞNG</a>
          </div>
        </div>
        <div class="row mb-5">
          <div class="effect10 col-lg me-5 rs-ipad mobile-center">
            <img
              src="/assets/images/homepage/thuyenkayak.jpg"
              alt=""
              class="img-box"
            />
            <a>THUYỀN KAYAK</a>
          </div>

          <div class="col-lg img-box-text my-auto hvr-grow">
            <h4 class="mb-3 title">TRẢI NGHIỆM CHÈO THUYỀN KAYAK</h4>
            <p class="text-title my-4">
              Kayak là bộ môn thể thao dưới nước, sử dụng thuyền nhỏ và mái chèo
              2 cánh để di chuyển. Thuyền kayak có nhiều kích cỡ và chủng loại
              khác nhau, tùy thuộc vào mục đích sử dụng nhưng phần lớn có 1 - 2
              chỗ ngồi và boong che kín chân.
            </p>

            <p class="text-title">
              Là bộ môn thể thao rèn luyện thể lực, sức chịu đựng, phổ biến tại
              Mỹ và châu Âu, kayak đang dần phổ biến ở Việt Nam, để phục vụ du
              lịch, tham quan sông, hồ, biển.
            </p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg me-5 my-auto hvr-grow">
            <h4 class="mb-3 title">TRẢI NGHIỆM ĐẠP XE HỒ TÂY</h4>
            <p class="text-title my-4">
              Hồ Tây không chỉ biết tới với vẻ đẹp lãng mạn mà còn nổi bật với
              các hoạt động thể thao, giải trí rất nhộn nhịp. Người dân có thể
              tới ngắm nghía vẻ đẹp của muồng hoàng yến nhuộm vàng hay "checkin"
              những địa điểm hot... Trước vô vàn những hoạt động ấy, đạp xe dạo
              quanh hồ lại là hoạt động được nhiều người ưa thích trong thời
              gian gần đây.
            </p>

            <p class="text-title">
              Hoạt động đạp xe quanh hồ Tây được rất nhiều người tìm đến trải
              nghiệm và dần trở thành một hoạt động giải trí, thể thao thường
              ngày
            </p>
          </div>

          <div class="effect10 col-lg rs-ipad mobile-center">
            <img
              src="/assets/images/homepage/dapxehotay.jpg"
              alt=""
              class="img-box"
            />
            <a>ĐẠP XE</a>
          </div>
        </div>
      </div>

      <div class="watch-map">
        <img src="/assets/images/homepage/ksan.jpg" alt="" class="img-intro" />

        <div class="text-address text-center">
          <p class="discover-weslake-text hvr-wobble-to-top-right">
            THÔNG TIN PHÒNG
          </p>
        </div>
      </div>
      <!--  -->
      <div class="container mx-auto">
        <div class="row my-5 pos-reverse">
          <div class="effect10 col-lg img-box-text rs-ipad me-5">
            <img
              src="./assets/images/homepage/anhphong1.jpg"
              alt=""
              class="img-box img-box-fmobile"
            />
            <a>ĐẲNG CẤP</a>
          </div>
          <div class="col-lg img-box-text my-auto hvr-grow">
            <h4 class="mb-3 title">THÔNG TIN PHÒNG WESTLAKE HOTEL</h4>
            <p class="text-title my-4">
              16 phòng ở rộng rãi với nội thất tiện nghi và sang trọng bậc nhất
              hứa hẹn đem đến giây phút nghỉ ngơi thoải mái cho khách hàng.
              <br />
              10 phòng tiêu chuẩn và 6 cao cấp sở hữu tầm nhìn bao quát toàn Hồ
              Tây.
            </p>
            <p class="text-title">
              Dịch vụ phòng luôn luôn mang đến cho khách hàng sự thoải mái, tiện
              nghi và sạch sẽ, ngoài ra còn liên kết những dịch vụ bên ngoài để
              đáp ứng nhu cầu của khách hàng
            </p>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="container mx-auto">
        <div class="row my-5">
          <div class="col-lg img-box-text my-auto me-5 hvr-grow">
            <h4 class="mb-3 title">PHONG CÁCH WESTLAKE HOTEL</h4>
            <p class="text-title my-4">
              Tất cả 16 phòng nghỉ của khách sạn có hướng nhìn bao quát Hồ Tây
              được lát sàn gỗ màu vàng nâu, thêm vào đó là những trang trí màu
              đỏ mang đến sự sang trọng cho khách sạn.
            </p>
            <p class="text-title">
              Phong cách mang hướng hoài cổ đậm chất hoài cổ với màu chủ đạo của
              phòng là màu vàng đậm, thêm vào đó xung quanh được trang trí thêm
              nhiều màu xanh của cây mang đến sự mát mẻ và hoà hợp với thiên
              nhiên của Hồ Tây.
            </p>
          </div>
          <div class="effect10 col-lg img-box-text rs-ipad">
            <img
              src="./assets/images/homepage/anhphong2.jpg"
              alt=""
              class="img-box img-box-fmobile"
            />
            <a>SANG TRỌNG</a>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="container mx-auto">
        <div class="row my-5 pos-reverse">
          <div class="effect10 col-lg img-box-text rs-ipad me-5">
            <img
              src="./assets/images/homepage/anhphong3.jpg"
              alt=""
              class="img-box img-box-fmobile"
            />
            <a>TIỆN NGHI</a>
          </div>
          <div class="col-lg img-box-text my-auto hvr-grow">
            <h4 class="mb-3 title">TIỆN NGHI PHÒNG WESTLAKE HOTEL</h4>
            <p class="text-title my-4">
              Đến với khách sạn ngoài nhu cầu nghỉ ngơi, quý khách cũng được
              trang bị đầy đủ các thiết bị, tiện nghi như LCD TV với nhiều kênh
              truyền hình cáp, điều hòa nhiệt độ, phòng tắm có vòi tắm nóng lạnh
              và các tiện nghi hiện đại.
            </p>
            <p class="text-title">
              Phòng có cửa sổ rộng thu vào tầm mắt của bạn phong cảnh hữu tình
              của Hồ Tây. Westlake Hotel là lựa chọn thông minh và hoàn hảo cho
              quý khách vì sự tiện nghi và giá cả hợp lý.
            </p>
          </div>
        </div>
      </div>
      <hr />
      <!-- discover westlake -->
      <div class="discover-westlake">
        <img
          src="/assets/images/homepage/khamphahotay.jpg"
          alt=""
          class="img-intro"
        />
        <div class="discover-westlake-title">
          <p class="discover-weslake-text hvr-wobble-to-top-right">
            KHÁM PHÁ HỒ TÂY
          </p>
        </div>
      </div>

      <!-- discover westlake detail abc-->
      <div class="container mx-auto">
        <div class="row p-3 discover-detail my-5 text-center">
          <div class="col-lg bridge p-5 pos-reverse">
            <img
              src="/assets/images/homepage/dulich.jpg"
              alt=""
              class="mb-4 img-box-sv rs-ipad-m img-box-fmobile hvr-pulse"
            />

            <div class="text-title-mb hvr-grow">
              <h5 class="title text-start mb-3">
                CÔNG TRÌNH, VĂN HOÁ VÀ KIẾN TRÚC HỒ TÂY, HÀ NỘI
              </h5>
              <p class="text-title">
                Hồ Tây có nhiều kiến trúc văn hoá độc đáo về những sự kiện lịch
                sử, mang lại cho du khách cảm giác trở lại Việt Nam từ những thế
                kỷ XVIII. Ngoài ra còn có những cảnh đẹp mà bạn không thể bỏ lỡ
                để chụp
              </p>
            </div>
          </div>
          <div class="col-lg bridge p-5 pos-reverse">
            <img
              src="/assets/images/homepage/goicuontom.jpg"
              alt=""
              class="mb-4 img-box-sv rs-ipad-m img-box-fmobile hvr-pulse"
            />
            <div class="text-title-mb hvr-grow">
              <h5 class="title text-start mb-3">
                ẨM THỰC ĐẬM CHẤT HỒ TÂY, HÀ NỘI
              </h5>
              <p class="text-title">
                Ẩm thực Hồ Tây mang một nét mộc mạc và nhiều màu sắc, thường là
                những món ăn mà người dân Tây Hồ thường ăn trong cuộc sống hàng
                ngày, đơn giản nhưng đầy hương vị. Hãy đến và thưởng thức nha.
              </p>
            </div>
          </div>
          <div class="col-lg bridge p-5 pos-reverse">
            <img
              src="/assets/images/homepage/cofffeee.jpg"
              alt=""
              class="mb-4 img-box-sv rs-ipad-m img-box-fmobile hvr-pulse"
            />
            <div class="text-title-mb hvr-grow">
              <h5 class="title text-start mb-3">
                NHỮNG QUÁN CÀ PHÊ VIEW HỒ TÂY ĐẸP XỊN MỊN
              </h5>
              <p class="text-title">
                Hồ Tây được mệnh danh là thiên đường cà phê, những tín đồ cà phê
                thường hay ghé những quán cà phê Hồ Tây dể vừa thưởng thức cà
                phê thơm ngon vừa ngắm cái vẻ đẹp mát mẻ của Hồ Tây, tạo nên
                nhiều cảm xúc.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- westlake service -->
      <div class="westlake-service">
        <img
          src="/assets/images/homepage/dichvuwestlake.jpg"
          alt=""
          class="img-intro"
        />
        <div class="discover-westlake-title">
          <p class="discover-weslake-text hvr-wobble-to-top-right">
            DỊCH VỤ WESTLAKE
          </p>
        </div>
      </div>
      <!-- westlake service detail -->
      <div class="container mx-auto">
        <div class="row p-3 discover-detail my-5 text-center">
          <div class="col-lg bridge p-5 pos-reverse">
            <img
              src="/assets/images/homepage/anh-Ho-Tay-dap-xe-buoi-sang.jpg"
              alt=""
              class="mb-4 img-box-sv rs-ipad-m img-box-fmobile hvr-pulse"
            />
            <div class="text-title-mb hvr-grow">
              <h5 class="title text-start mb-3">
                THUÊ XE ĐẠP, XE MÁY DẠO QUANH HỒ TÂY
              </h5>
              <p class="text-title">
                Đạp xe không chỉ đơn giản là vận động cơ thể mà còn là một cách
                riêng để họ khám phá hồ Tây. Với đoạn đường dài khoảng 20km
                đường ven hồ, bạn có thể tự do dừng xe lại ở bất cứ nơi đâu để
                ngắm nhìn, tận hưởng khung cảnh thơ mộng của hồ Tây.
              </p>
            </div>
          </div>
          <div class="col-lg bridge p-5 pos-reverse">
            <img
              src="/assets/images/homepage/Hinh-anh-dao-Tuan-Chau.jpg"
              alt=""
              class="mb-4 img-box-sv rs-ipad-m img-box-fmobile hvr-pulse"
            />
            <div class="text-title-mb hvr-grow">
              <h5 class="title text-start mb-3">
                KẾT HỢP TOUR DU LỊCH VỚI NHIỀU TỈNH KHÁC
              </h5>
              <p class="text-title">
                Việt Nam là nơi khởi nguồn của đất nước ngàn năm văn hiến với
                những thắng cảnh thiên nhiên đẹp mê hồn cùng những công trình
                kiến trúc ấn tượng, độc đáo. Du lịch miền Bắc luôn là điểm hẹn
                hấp dẫn cho bất kỳ ai thích khám phá và trải nghiệm những vùng
                đất mới
              </p>
            </div>
          </div>
          <div class="col-lg bridge p-5 pos-reverse">
            <img
              src="/assets/images/homepage/carcross.jpg"
              alt=""
              class="mb-4 img-box-sv rs-ipad-m img-box-fmobile hvr-pulse"
            />
            <div class="text-title-mb hvr-grow">
              <h5 class="title text-start mb-3">
                ĐÓN ĐƯA KHÁCH HÀNG RA SÂN BAY HÀ NỘI
              </h5>
              <p class="text-title">
                Dịch vụ đón tiễn sân bay Nội Bài với giá cả phải chăng, quy
                trình thuê xe, đặt xe của đơn giản, nhanh gọn và khoa học giúp
                chuyến đi của bạn thuận tiện và tiết kiệm thời gian.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- rate -->
      <div class="container mx-auto">
        <div class="rate-room box80 my-5 mobile-center">
          <!-- rate room detail -->
          <!--<h4 class="mb-3 fm-title-l">Phòng được đánh giá cao nhất</h4>
          <div class="rate-room-line"></div>
          <div class="row rate-room-highest my-5">
            <div class="col-lg-3 rate-room-detail p-2 pos-reverse">
              <img
                src="/assets/images/homepage/phongdon.jpg"
                alt=""
                class="img-rate-room img-box-h img-box-mar rs-ipad-m rp-img-box hvr-pulse"
              />
              <div class="title-rate-room hvr-grow">
                <p class="title">PHÒNG ĐƠN</p>
                <div class="my-auto">
                  <ngb-rating
                    [(rate)]="currentRate"
                    [readonly]="true"
                    [max]="5"
                    class="fm-icon-star"
                  ></ngb-rating>
                </div>
              </div>
            </div>
            <div class="col-lg-3 rate-room-detail p-2 pos-reverse">
              <img
                src="/assets/images/homepage/phongdoi.jpg"
                alt=""
                class="img-rate-room img-box-h img-box-mar rs-ipad-m rp-img-box hvr-pulse"
              />
              <div class="title-rate-room hvr-grow">
                <p class="title">PHÒNG ĐÔI</p>
                <div class="my-auto">
                  <ngb-rating
                    [(rate)]="currentRate"
                    [readonly]="true"
                    [max]="5"
                    class="fm-icon-star"
                  ></ngb-rating>
                </div>
              </div>
            </div>
            <div class="col-lg-3 rate-room-detail p-2 pos-reverse">
              <img
                src="/assets/images/homepage/phongvip.jpg"
                alt=""
                class="img-rate-room img-box-h img-box-mar rs-ipad-m rp-img-box hvr-pulse"
              />
              <div class="title-rate-room hvr-grow">
                <p class="title">PHÒNG VIP</p>
                <div class="my-auto">
                  <ngb-rating
                    [(rate)]="currentRate"
                    [readonly]="true"
                    [max]="5"
                    class="fm-icon-star"
                  ></ngb-rating>
                </div>
              </div>
            </div>
            <div class="col-lg-3 rate-room-detail p-2 pos-reverse">
              <img
                src="/assets/images/homepage/phongthuong.jpg"
                alt=""
                class="img-rate-room img-box-h img-box-mar rs-ipad-m rp-img-box hvr-pulse"
              />
              <div class="title-rate-room hvr-grow">
                <p class="title">PHÒNG TIÊU CHUẨN</p>
                <div class="my-auto">
                  <ngb-rating
                    [(rate)]="currentRate"
                    [readonly]="true"
                    [max]="5"
                    class="fm-icon-star"
                  ></ngb-rating>
                </div>
              </div>
            </div>
          </div>-->

          <!-- room rate service -->
          <!--<h4 class="mb-3 fm-title-l">Dịch vụ được đánh giá cao nhất</h4>
          <div class="rate-room-line mb-5"></div>
          <div class="row rate-room-service my-5">
            <div class="col-lg-3 rate-room-detail p-2 pos-reverse">
              <img
                src="/assets/images/homepage/xedapthethao.jpg"
                alt=""
                class="img-rate-room img-box-h img-box-mar rs-ipad-m rp-img-box hvr-pulse"
              />
              <div class="title-rate-service hvr-grow">
                <p class="title">XE THỂ THAO</p>
                <div class="my-auto">
                  <ngb-rating
                    [(rate)]="currentRate"
                    [readonly]="true"
                    [max]="5"
                    class="fm-icon-star"
                  ></ngb-rating>
                </div>
              </div>
            </div>
            <div class="col-lg-3 rate-room-detail p-2 pos-reverse">
              <img
                src="/assets/images/homepage/bimbimostar.jpg"
                alt=""
                class="img-rate-room img-box-h img-box-mar rs-ipad-m rp-img-box hvr-pulse"
              />
              <div class="title-rate-service hvr-grow">
                <p class="title">BÁNH O'STAR</p>
                <div class="my-auto">
                  <ngb-rating
                    [(rate)]="currentRate"
                    [readonly]="true"
                    [max]="5"
                    class="fm-icon-star"
                  ></ngb-rating>
                </div>
              </div>
            </div>
            <div class="col-lg-3 rate-room-detail p-2 pos-reverse">
              <img
                src="/assets/images/homepage/xepdapdoi.jpg"
                alt=""
                class="img-rate-room img-box-h img-box-mar rs-ipad-m rp-img-box hvr-pulse"
              />
              <div class="title-rate-service hvr-grow">
                <p class="title">XE ĐẠP ĐÔI</p>
                <div class="my-auto">
                  <ngb-rating
                    [(rate)]="currentRate"
                    [readonly]="true"
                    [max]="5"
                    class="fm-icon-star"
                  ></ngb-rating>
                </div>
              </div>
            </div>
            <div class="col-lg-3 rate-room-detail p-2 pos-reverse">
              <img
                src="/assets/images/homepage/caphewl.jpg"
                alt=""
                class="img-rate-room img-box-h img-box-mar rs-ipad-m rp-img-box hvr-pulse"
              />
              <div class="title-rate-service hvr-grow">
                <p class="title">CÀ PHÊ WESTLAKE</p>
                <div class="my-auto">
                  <ngb-rating
                    [(rate)]="currentRate"
                    [readonly]="true"
                    [max]="5"
                    class="fm-icon-star"
                  ></ngb-rating>
                </div>
              </div>
            </div>
          </div>-->
        </div>
        <div>
          <p class="fm-title-l">Bản Đồ Vị Trí Westlake Hotel</p>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.455293625246!2d105.80957775064685!3d21.054470285915688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab1c2cb01cc9%3A0x5a7cd7462452bf1!2zS2jDoWNoIFPhuqFuIFdlc3QgTGFrZQ!5e0!3m2!1svi!2s!4v1668156573646!5m2!1svi!2s"
            class="if-maps"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- footer -->
<app-footer></app-footer>
