<loading *ngIf="isLoading">{{ isLoading }}</loading>
<main>
    <div class="bg-main">
        <img src="/assets/images/booking-service/dichvu.png" alt="" class="img-intro" />
        <p class="text-westlake-service fm-title">
            DỊCH VỤ WESTLAKE
        </p>
    </div>

    <div class="container my-5">
        <div class="w-form">
            <!-- bicycle service -->
        <div class="westlake-service hvr-grow">
            <div class="bicycle-service d-flex p-3">
                <img src="/assets/images/booking-service/bicycles-737190_1920.jpg" alt="" class="img-box rounded img-box-none" />
                <div class="content my-auto">
                    <p class="title mb-4">Dịch Vụ Thuê Xe Đạp</p>
                    <img src="/assets/images/booking-service/bicycles-737190_1920.jpg" alt="" class="img-box rounded img-box-mobile" />
                    <p class="text-content">
                        Hồ Tây là hồ có số lượng người đạp xe đạp nhiều nhất ở Hà Nội, đạp xe ở Hồ Tây sẽ mang lại cho du khách một trải nghiệm đáng nhớ với những khung cảnh đẹp mê hồn, ngoài ra số lượng cây xanh nhiều nên việc thuê xe đạp dạo quanh Hồ Tây là một điều dễ dàng
                        đối với những bạn sợ nắng.
                    </p>
                    <div class="text-end">
                        <a routerLink="./rent-bicycle">
                            <button class="fm-btn-y">
                Đặt Ngay
              </button></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- food beverage service -->
        <div class="westlake-service my-5 hvr-grow">
            <div class="food-beverage-service d-flex p-3">
                <img src="/assets/images/booking-service/tiec.jpg" alt="" class="img-box rounded img-box-none" />
                <div class="content my-auto">
                    <p class="title mb-4">Dịch Vụ Thức Ăn & Đồ Uống</p>
                    <img src="/assets/images/booking-service/tiec.jpg" alt="" class="img-box rounded img-box-mobile" />

                    <p class="text-content">
                        Dịch vụ thức ăn và đồ uống liên tục phục vụ Quý khách hàng ngày. Thực đơn phong phú với vô vàn sự lựa chọn đa dạng về các đồ ăn và thức uống có lợi cho sức khỏe với giá cả phải chăng. Ngoài những đồ ăn luôn được đánh giá cao, thì chất lượng phục vụ luôn chinh phục được lòng của thực khách.
                    </p>
                    <div class="text-end">
                        <a routerLink="./food-beverage">
                            <button class="fm-btn-y">
                Đặt Ngay
              </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- shuttle service -->
        <!-- <div class="westlake-service">
            <div class="shuttle-service d-flex p-3">
                <img src="/assets/images/booking-service/carcross.jpg" alt="" class="img-box rounded img-box-none" />
                <div class="content my-auto">
                    <p class="title mb-4">Dịch Vụ Đưa Đón Sân Bay</p>
                    <img src="/assets/images/booking-service/carcross.jpg" alt="" class="img-box rounded img-box-mobile" />

                    <p class="text-content">
                        Hồ Tây là hồ có số lượng người đạp xe đạp nhiều nhất ở Hà Nội, đạp xe ở Hồ Tây sẽ mang lại cho du khách một trải nghiệm đáng nhớ với những khung cảnh đẹp mê hồn, ngoài ra số lượng cây xanh nhiều nên việc thuê xe đạp dạo quanh Hồ Tây là một điều dễ dàng
                        đối với những bạn sợ nắng.
                    </p>
                    <div class="text-end">
                        <a routerLink="./shuttle-service">
                            <button class="fm-btn-y">
                Đặt Ngay
              </button>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        </div>
    </div>
</main>
