.fm-text {
    font-weight: 500;
    font-size: 1.3rem;
}


.btn-add-room {
    background-color: #ad8658;
    border: none;
    color: white;
}

.img-box {
    width: 140px;
    height: 140px;
    border-radius: 10px;
}
.border{
    padding: 1rem;
}
.fm-border {
    background: #fafafa;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 40px;
}

.fm-btn-create {
    background-color: #ad8658;
    border: none;
    color: white;
}
::ng-deep .p-button-icon-only{
    display: none;
}
.fm-btn-create {
    background-color: #ad8658;
    border: none;
    color: white;
}

.btn-icon-delete {
    border: none;
    background-color: #fafafa;
    position: relative;
}

.pos-icon {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(-50%, 0);
}

.m2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #484848b2;
}
::ng-deep .p-button{
    background-color: #ad8658;
    border: none;
    font-size: 12px;
    padding: 0;
    border-radius: 30px;
    padding: 0.6rem 1rem;
}
::ng-deep .p-message-detail{
    display: none;
}
.close{
    position: absolute;
    right: 6%;
}
.fm-close{
    color: rgb(0, 0, 0);
}
.pos-img-box{
    position: relative;
}