<loading *ngIf="isLoading">{{ isLoading }}</loading>
<main class="container">
   <div class="w-form-60">
   
        <p class="fm-title">
            Chỉnh Sửa Tài Khoản Nhân Viên
        </p>
        <!-- icon separator-line -->
        <hr>
        <p class="remind">Sửa thông tin Nhân Viên Ở Phía Dưới</p>
        <!-- form edit employee -->
        <div class="fm-border-60">
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-4">
                    <input formControlName="employeeID" type="hidden" class="form-control" />
                    <input formControlName="accountID" type="hidden" class="form-control" />
                    <label for="fullName" class="title-input"><span class="color-red">*</span> Họ Và Tên </label>
                    <input formControlName="fullName" [ngClass]="{'is-invalid':submitted && employeeForm.controls.fullName.errors}" minlength="4" maxlength="50" type="text" class="form-control" />
                    <div *ngIf="submitted && employeeForm.controls.fullName.errors" class="text-danger">
                        <div *ngIf="employeeForm.controls.fullName.errors.required">
                            {{isEmpty}}
                        </div>
                        <div *ngIf="employeeForm.controls.fullName.errors.pattern">
                            {{isLetter}}
                        </div>
                        <div *ngIf="employeeForm.controls.fullName.errors.minlength">
                            {{atLeast4C}}
                        </div>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label for="userName" class="title-input"><span class="color-red">*</span> Tên Tài Khoản </label>
                    <input formControlName="userName" type="text" [ngClass]="{'is-invalid':submitted && employeeForm.controls.userName.errors}" minlength="2" maxlength="50" class="form-control" />
                    <div *ngIf="submitted && employeeForm.controls.userName.errors" class="text-danger">
                        <div *ngIf="employeeForm.controls.userName.errors.required">
                          {{ isEmpty }}
                        </div>
                         <div *ngIf="employeeForm.controls.userName.errors.minlength">
                          {{ atLeast2C }}
                        </div>
                        <div *ngIf="employeeForm.controls.userName.errors.pattern">
                          {{ notspace }}
                        </div>
                      </div>
                </div>
                <div class="form-group mb-4">
                    <label for="email" class="title-input"><span class="color-red">*</span> Email </label>
                    <input formControlName="email" type="text" [ngClass]="{'is-invalid':submitted && employeeForm.controls.email.errors}" minlength="4" maxlength="50" class="form-control" />
                    <div *ngIf="submitted && employeeForm.controls.email.errors" class="text-danger">
                        <div *ngIf="employeeForm.controls.email.errors.required">
                            {{isEmpty}}
                        </div>
                        <div *ngIf="employeeForm.controls.email.errors.email">
                            {{isEmail}}
                        </div>
                        <div *ngIf="employeeForm.controls.email.errors.minlength">
                            {{atLeast4C}}
                        </div>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label for="identifyNumber" class="title-input"><span class="color-red">*</span> CCCD/CMTND </label>
                    <input formControlName="identifyNumber" type="text" [ngClass]="{'is-invalid':submitted && employeeForm.controls.identifyNumber.errors}" minlength="9" maxlength="15" class="form-control" />
                    <div *ngIf="submitted && employeeForm.controls.identifyNumber.errors" class="text-danger">
                        <div *ngIf="employeeForm.controls.identifyNumber.errors.required" >
                            {{isEmpty}}
                        </div>
                        <div *ngIf="employeeForm.controls.identifyNumber.errors.pattern" >
                            {{isNum}}
                        </div>
                        <div *ngIf="employeeForm.controls.identifyNumber.errors.minlength">
                            {{atLeast12C}}
                        </div>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label for="phoneNumber" class="title-input"><span class="color-red">*</span> Số Điện Thoại </label>
                    <input formControlName="phoneNumber" type="text" [ngClass]="{'is-invalid':submitted && employeeForm.controls.phoneNumber.errors}" minlength="10" maxlength="11" class="form-control" />
                    <div *ngIf="submitted && employeeForm.controls.phoneNumber.errors" class="text-danger">
                        <div *ngIf="employeeForm.controls.phoneNumber.errors.required">
                            {{isEmpty}}
                        </div>
                        <div *ngIf="employeeForm.controls.phoneNumber.errors.pattern">
                            {{isNum}}
                        </div>
                        <div *ngIf="employeeForm.controls.phoneNumber.errors.minlength">
                            {{atLeast10C}}
                        </div>              
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label for="dateOfBirth" class="title-input"><span class="color-red">*</span> Ngày Sinh </label>
                    <input formControlName="dateOfBirth" type="date" class="form-control" max="{{defaultCheckYears}}"/>
                </div>
                <div class="form-group mb-5">
                    <label for="departmentID" class="title-input"><span class="color-red">*</span> Vai Trò </label>
                    <select formControlName="departmentID" class="form-select" id="inputGroupSelect01">
              <!--  -->
              <option *ngFor="let d of department" value="{{ d.departmentID }}">
                {{ d.departmentName }}
              </option>
            </select>
                </div>
    
                <div class="btn-dele-sub text-end">
                    <button class="fw-bold btn px-4 py-2" (click)="cancelForm()">
              <i class="pi pi-times"></i> Huỷ
            </button>
                    <button class="btn-create-empl fw-bold rounded-pill px-4 py-2" type="submit">
              Lưu
            </button>
                </div>
            </form>
        </div>
  
   </div>
</main>
