<loading *ngIf="isLoading">{{ isLoading }}</loading>
<main class="container">
    <div class="admin">
        <p class="fm-title">
            Chức Năng Lễ Tân
        </p>
    </div>
    <div class="separator-line my-3">
        <svg width="100" height="6" viewBox="0 0 140 6" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="140" height="3" rx="3" fill="#484848" />
    </svg>
    </div>

    <!-- <div class="manage-account"> -->
    <div class="manage-account row text-center">
        <a href="{{webUrl}}/receptionist/room-status?date={{today| date:'yyyy-MM-dd'}}" class="col-3">
            <button class="manage-receptionist p-4 border border-2 border-dark">
        <img src="/assets/images/receptionist/statusroomm.jpg" alt="" class="img-avt" />
        <p class="fw-bold mt-2">Xem Trạng Thái <br />Phòng</p>
      </button>
        </a>
        <a routerLink="./create-booking" class="col-3">
            <button class="manage-receptionist p-4 border border-2 border-dark">
        <img src="/assets/images/receptionist/document.jpg" alt=""  class="img-avt"/>
        <p class="fw-bold mt-2">Xem Đơn <br> Đặt Phòng</p>
      </button>
        </a>
        <a routerLink="./food-booking" class="col-3">
            <button class="manage-receptionist p-4 border border-2 border-dark">
        <img src="/assets/images/receptionist/document.jpg" alt=""  class="img-avt"/>
        <p class="fw-bold mt-2">Xem Đơn <br> Đồ Ăn</p>
      </button>
        </a>
        <a routerLink="./bicycle-booking" class="col-3">
            <button class="manage-receptionist p-4 border border-2 border-dark">
        <img src="/assets/images/receptionist/document.jpg" alt=""  class="img-avt"/>
        <p class="fw-bold mt-2">Xem Đơn <br> Thuê Xe Đạp</p>
      </button>
        </a>
        <!-- <a routerLink="./shuttle-booking" class="col-3">
            <button class="manage-receptionist p-4 border border-2 border-dark">
        <img src="/assets/images/receptionist/document.jpg" alt=""  class="img-avt"/>
        <p class="fw-bold mt-2">Xem Đơn <br> Thuê Xe Đưa Đón Sân Bay </p>
      </button>
        </a> -->
    </div>
</main>

