main{
    width: 80%;
    margin: auto;
}
.manage-account{
    border: 2px solid black;
    padding:20px;
}

.item2 { grid-area: menu; }
.item3 { grid-area: menu1; }
.item4 { grid-area: menu2; }
.item5 { grid-area: menu3; }


.grid-container {
  display: grid;
  grid-template-areas:
    'menu menu1 menu2 menu3';
    ;
  gap: 3px;
  background-color: black;
    padding:3px;
}

.grid-container > div {
    background-color: white;
  text-align: center;
  padding: 100px 0;
  font-size: 30px;
}