<app-header></app-header>
<!--  -->
<loading *ngIf="isLoading">{{ isLoading }}</loading>
<main class="container">
  <div class="w-form">
    <div class="row box-main">
      <div class="col-6 px-0">
        <!-- <img src="assets/images/homepage/Hinh-anh-dao-Tuan-Chau.jpg" alt="" class="img-box"> -->
        <img
          src="/assets/images/managelogin/registerimg.jpg"
          alt=""
          class="img-box"
        />
      </div>
      <div class="col-6 px-0 my-auto">
        <form
          [formGroup]="customerForm"
          (ngSubmit)="onSubmit()"
          class="needs-validation"
        >
          <p class="fs-4 fm-title">Đăng ký tài khoản</p>
          <p>Đã có tài khoản <a routerLink="../manage-login">Đăng nhập</a></p>
          <div class="content-main">
            <div class="row form-group">
              <div class="col-6">
                <label for="fullName"
                  ><span class="color-red">*</span> Họ Và Tên
                </label>
                <input
                  formControlName="fullName"
                  [ngClass]="{
                    'is-invalid':
                      submitted && customerForm.controls.fullName.errors
                  }"
                  minlength="2"
                  maxlength="50"
                  type="text"
                  class="form-control"
                  placeholder="VD: Đinh Văn Bình"
                />
                <div
                  *ngIf="submitted && customerForm.controls.fullName.errors"
                  class="text-danger"
                >
                  <div *ngIf="customerForm.controls.fullName.errors.required">
                    {{ isEmpty }}
                  </div>
                  <div *ngIf="customerForm.controls.fullName.errors.minlength">
                    {{ atLeast2C }}
                  </div>
                  <div *ngIf="customerForm.controls.fullName.errors.pattern">
                    {{ isLetter }}
                  </div>
                </div>
              </div>
              <div class="col-6">
                <label for="userName"
                  ><span class="color-red">*</span> Tên Tài Khoản
                </label>
                <input
                  formControlName="userName"
                  [ngClass]="{
                    'is-invalid':
                      submitted && customerForm.controls.userName.errors
                  }"
                  minlength="2"
                  maxlength="50"
                  type="text"
                  class="form-control"
                  placeholder="VD: binhdv2911_hd"
                />
                <div
                  *ngIf="submitted && customerForm.controls.userName.errors"
                  class="text-danger"
                >
                  <div *ngIf="customerForm.controls.userName.errors.required">
                    {{ isEmpty }}
                  </div>
                  <div *ngIf="customerForm.controls.userName.errors.minlength">
                    {{ atLeast2C }}
                  </div>
                  <div *ngIf="customerForm.controls.userName.errors.pattern">
                    {{ notspace }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-6">
                <label for="email"
                  ><span class="color-red">*</span> Mật Khẩu
                </label>
                <input
                  formControlName="password"
                  type="password"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      submitted && customerForm.controls.password.errors
                  }"
                  minlength="8"
                  max="100"
                />
      
                <div *ngIf="submitted && customerForm.controls.password.errors" class="text-danger">
                  <div *ngIf="customerForm.controls.password.errors.required">
                      {{isEmpty}}
                  </div>
                  <div *ngIf="customerForm.controls.password.errors.pattern">
                      {{isPassword}}
                  </div>
                  <div *ngIf="customerForm.controls.password.errors.minlength">
                      {{atLeast8C}}
                  </div>
    
              </div> 
              </div>
              <div class="col-6">
                <label for="email"
                  ><span class="color-red">*</span> Xác Nhận Mật Khẩu
                </label>
                <input
                  formControlName="passwordConfirm"
                  type="password"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      submitted && customerForm.controls.passwordConfirm.errors
                  }"
                  minlength="8"
                  max="100"
                />
                <div *ngIf="submitted && customerForm.controls.passwordConfirm.errors" class="text-danger">
                  <div *ngIf="customerForm.controls.passwordConfirm.errors.required">
                      {{isEmpty}}
                  </div>
                  <div *ngIf="customerForm.controls.passwordConfirm.errors.pattern">
                      {{isPassword}}
                  </div>
                  <div *ngIf="customerForm.controls.passwordConfirm.errors.minlength">
                      {{atLeast8C}}
                  </div>
                  <div *ngIf="customerForm.controls.passwordConfirm.errors.matching">
                      {{matchPassword}}
                  </div>
              </div>  
              </div>
            </div>
            <div class="row form-group">
              <div class="col-6">
                <label for="email"
                  ><span class="color-red">*</span> Email
                </label>
                <input
                  formControlName="email"
                  [ngClass]="{
                    'is-invalid':
                      submitted && customerForm.controls.email.errors
                  }"
                  minlength="4"
                  maxlength="50"
                  type="text"
                  class="form-control"
                  placeholder="VD: abcd@gmail.com"
                />
                <div
                  *ngIf="submitted && customerForm.controls.email.errors"
                  class="text-danger"
                >
                  <div *ngIf="customerForm.controls.email.errors.required">
                    {{ isEmpty }}
                  </div>
                  <div *ngIf="customerForm.controls.email.errors.minlength">
                    {{ atLeast4C }}
                  </div>
                  <div *ngIf="customerForm.controls.email.errors.email">
                    {{ isEmail }}
                  </div>
                </div>
                
              </div>
              <div class="col-6">
                <label for="identifyNumber"
                  ><span class="color-red">*</span> CCCD/CMND
                </label>
                <input
                  formControlName="identifyNumber"
                  [ngClass]="{
                    'is-invalid':
                      submitted && customerForm.controls.identifyNumber.errors
                  }"
                  minlength="9"
                  maxlength="15"
                  type="text"
                  class="form-control"
                  placeholder="VD: 1234567899"
                />
                <div
                  *ngIf="
                    submitted && customerForm.controls.identifyNumber.errors
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="customerForm.controls.identifyNumber.errors.required"
                  >
                    {{ isEmpty }}
                  </div>
                  <div
                    *ngIf="
                      customerForm.controls.identifyNumber.errors.minlength
                    "
                  >
                    {{ atLeast2C }}
                  </div>
                  <div
                    *ngIf="customerForm.controls.identifyNumber.errors.pattern"
                  >
                    {{ isNum }}
                  </div>
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-6">
                <label for="phoneNumber"
                  ><span class="color-red">*</span> Số Điện Thoại
                </label>
                <input
                  formControlName="phoneNumber"
                  [ngClass]="{
                    'is-invalid':
                      submitted && customerForm.controls.phoneNumber.errors
                  }"
                  minlength="9"
                  maxlength="11"
                  text="text"
                  class="form-control"
                  placeholder="VD: 0813444555"
                />
                <div
                  *ngIf="submitted && customerForm.controls.phoneNumber.errors"
                  class="text-danger"
                >
                  <div
                    *ngIf="customerForm.controls.phoneNumber.errors.required"
                  >
                    {{ isEmpty }}
                  </div>
                  <div
                    *ngIf="customerForm.controls.phoneNumber.errors.minlength"
                  >
                    {{ atLeast10C }}
                  </div>
                </div>
              </div>
              <div class="col-6">
                <label for="dateOfBirth"
                  ><span class="color-red">*</span> Ngày Sinh
                </label>
                <input
                  formControlName="dateOfBirth"
                  max="{{defaultCheckYears}}"
                  [ngClass]="{
                    'is-invalid':
                      submitted && customerForm.controls.dateOfBirth.errors
                  }"
                  type="date"
                  class="form-control"
                />
                <div
                  *ngIf="submitted && customerForm.controls.dateOfBirth.errors"
                  class="text-danger"
                >
                  <div
                    *ngIf="customerForm.controls.dateOfBirth.errors.required"
                  >
                    {{ isEmpty }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pos-captcha">
              <ngx-recaptcha2 #captchaElem
              [siteKey]="siteKey"
              formControlName="recaptcha">
            </ngx-recaptcha2>
            </div>
          <div class="btn-dele-sub">
            <button class="fm-btn-y" type="submit">Tạo Tài Khoản</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<!--  -->
<app-footer-none></app-footer-none>
